@use '@angular/material' as mat;

.trivia-admin {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 16px;
}

.create-game-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.start-game-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

mat-card.mat-mdc-card-filled {
    background-color: rgba(255, 255, 255, 0.8);
}

.header-with-action {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Aligns button to top if title wraps */
}

/* Optional: Ensure the title group takes up available space */
mat-card-title-group {
    flex: 1;
}

:host {
    @include mat.card-overrides((
        subtitle-text-size: 10pt,
        subtitle-text-line-height: 12pt
    ));
}

.actions {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}