<mat-card appearance="filled">
    <mat-card-header>
        @if (!isSignedUp()) {
        <mat-card-title>Sign Up</mat-card-title>
        }
        @else {
        <mat-card-title>Email Sent</mat-card-title>
        }
    </mat-card-header>
    @if (!isSignedUp()) {
    <mat-card-content>
        <form id="signUpForm" [formGroup]="signUpForm" (ngSubmit)="signUp()" class="sign-up-form">
            <mat-form-field class="full-width" subscriptSizing="dynamic">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="Ex. John">
                @if (signUpForm.controls.firstName.hasError('required')) {
                <mat-error>First Name is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width" subscriptSizing="dynamic">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Ex. Doe">
                @if (signUpForm.controls.lastName.hasError('required')) {
                <mat-error>Last Name is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width" subscriptSizing="dynamic">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" placeholder="Ex. jdoe@example.com">
                @if (signUpForm.controls.email.hasError('required')) {
                <mat-error>Email is required</mat-error>
                }
                @else if (signUpForm.controls.email.errors) {
                <mat-error>Must be a valid email address</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width" subscriptSizing="dynamic">
                <mat-label>Password</mat-label>
                <input matInput matNativeControl type="password" formControlName="password">
                <mat-hint>
                    <span>Must be at least {{ minPasswordLength }} characters</span><br>
                    <span>Must have at least one capital letter</span><br>
                    <span>Must have at least one lowercase letter</span><br>
                    <span>Must have at least one number</span><br>
                    <span>Must not have any spaces</span>
                </mat-hint>
                @if (signUpForm.controls.password.hasError('minlength') || signUpForm.controls.password.hasError('required')) {
                <mat-error>Must have at least {{ minPasswordLength }} characters</mat-error>
                }
                @if (signUpForm.controls.password.hasError('hasCapitalLetter') || signUpForm.controls.password.hasError('required')) {
                <mat-error>Must have at least one capital letter</mat-error>
                }
                @if (signUpForm.controls.password.hasError('hasLowercaseLetter') || signUpForm.controls.password.hasError('required')) {
                <mat-error>Must have at least one lowercase letter</mat-error>
                }
                @if (signUpForm.controls.password.hasError('hasNumber') || signUpForm.controls.password.hasError('required')) {
                <mat-error>Must have at least one number</mat-error>
                }
                @if (signUpForm.controls.password.hasError('noSpecialCharacters') || signUpForm.controls.password.hasError('required')) {
                <mat-error>Must not have any spaces</mat-error>
                }
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <a matButton="text" routerLink="../login">Login</a>
        <button matButton="filled" [disabled]="signUpForm.invalid" type="submit" form="signUpForm">Sign Up</button>
    </mat-card-actions>
    }
    @else {
    <mat-card-content>
        <p>You have been emailed a verification code. Click on the link in your email to verify your email address and enable your account. If you cannot find the email, please check your spam folder.</p>
    </mat-card-content>
    <mat-card-actions>
        <button matButton="filled" (click)="resendEmailVerification()">Resend Email Verification</button>
    </mat-card-actions>
    }
</mat-card>