<mat-card appearance="filled">
    <mat-card-header>
        <a matIconButton aria-label="Back button" routerLink="../">
            <mat-icon>arrow_back</mat-icon>
        </a>
        <mat-card-title-group>
            <mat-card-title>{{calling()?.name}}</mat-card-title>
        </mat-card-title-group>
        <a matIconButton aria-label="Edit button">
            <mat-icon>edit</mat-icon>
        </a>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion>
            <mat-expansion-panel [expanded]="panel() === 0" (opened)="selectPanel(0)">
                <mat-expansion-panel-header>
                    <mat-panel-title>Users with calling</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    @for (person of calling()?.assignedTo; track person.id) {
                        <mat-list-item>
                            <!-- <span class="list-item-wrapper"> -->
                                <span>{{person.firstName}} {{person.lastName}}</span>
                                <button matIconButton matListItemMeta (click)="removeCalling()">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            <!-- </span> -->
                        </mat-list-item>
                    }
                    @empty {
                        <mat-list-item>No one is assigned to this calling yet</mat-list-item>
                    }
                </mat-list>
                <mat-action-row>
                    <button matButton (click)="assignCalling()">
                        <mat-icon>add</mat-icon>
                        Assign Calling
                    </button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="panel() === 1" (opened)="selectPanel(1)">
                <mat-expansion-panel-header>
                    <mat-panel-title>Permissions</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list>
                    @for (permission of calling()?.permissions; track permission.id) {
                        <mat-list-item>
                            <!-- <span class="list-item-wrapper"> -->
                                <span>{{permission.name}}</span>
                                <button matIconButton matListItemMeta (click)="removePermission()">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            <!-- </span> -->
                        </mat-list-item>
                    }
                    @empty {
                        <mat-list-item>No permissions are assigned to this calling yet</mat-list-item>
                    }
                </mat-list>
                <mat-action-row>
                    <button matButton (click)="assignPermission()">
                        <mat-icon>add</mat-icon>
                        Add Permission
                    </button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>
