<mat-card appearance="filled">
    <mat-card-header>
        <a matIconButton aria-label="Back button" routerLink="../">
            <mat-icon>arrow_back</mat-icon>
        </a>
        <mat-card-title-group>
            <mat-card-title>Callings</mat-card-title>
        </mat-card-title-group>
        <a matIconButton aria-label="Add button">
            <mat-icon>add</mat-icon>
        </a>
    </mat-card-header>
    <mat-card-content>
        <div class="list-wrapper" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [immediateCheck]="true" (scrolled)="onScroll()">
            <mat-nav-list>
                @for (calling of callingSearchSignal(); track calling.id) {
                    <a mat-list-item [routerLink]="[calling.id]">
                        <span matListItemTitle>{{ calling.name }}</span>
                        @if (calling.assignedTo) {
                            <span matListItemLine>{{ calling.assignedTo }}</span>
                        }
                        <button matIconButton matListItemMeta (click)="deleteCalling($event, calling.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </a>
                }
            </mat-nav-list>
            @if (hasMorePages()) {
                <div class="show-more-container">
                    <button matButton (click)="onScroll()">Show More Results</button>
                </div>
            }
        </div>
    </mat-card-content>
</mat-card>
