<mat-card appearance="filled">
    <mat-card-header>
        <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            You have been emailed a code to reset your password. If you did not receive the email, please check your spam folder. It may take a few minutes to arrive.
        </p>
        <form [formGroup]="resetPasswordForm" class="reset-password-form">
            <mat-form-field class="full-width" subscriptSizing="dynamic">
                <mat-label>Code</mat-label>
                <input matInput matNativeControl type="number" min="100000" max="999999" step="1" formControlName="code" placeholder="123456">
                @if (resetPasswordForm.controls.code.hasError('required')) {
                <mat-error>Code is required</mat-error>
                }
            </mat-form-field>
            
            <mat-form-field class="full-width" subscriptSizing="dynamic">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Ex. jdoe@example.com">
                @if (resetPasswordForm.controls.email.hasError('required')) {
                <mat-error>Email is required</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width" subscriptSizing="dynamic">
                <mat-label>New Password</mat-label>
                <input matInput matNativeControl type="password" formControlName="password">
                @if (resetPasswordForm.controls.password.hasError('required')) {
                <mat-error>Password is required</mat-error>
                }
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <a matButton="text" routerLink="../login">Login</a>
        <button matButton="filled" [disabled]="resetPasswordForm.invalid" (click)="resetPassword()">Reset Password</button>
    </mat-card-actions>
</mat-card>