<div class="join-trivia-game">
    <mat-card appearance="filled">
        <mat-card-header class="header-with-action">
            <mat-card-title-group>
                <mat-card-title>Join Game</mat-card-title>
            </mat-card-title-group>

            <button matIconButton [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        </mat-card-header>
        @if (gameId()) {
        <mat-card-content>
            <p><b>Current Game:</b> {{ gameId() }}</p>
            <p>Enter your name to join the game</p>
            <form id="triviaJoinForm" [formGroup]="triviaJoinForm" class="trivia-join-form" (ngSubmit)="submit()">
                <mat-form-field class="full-width">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Ex. John Doe">
                    @if (triviaJoinForm.controls.name.hasError('required')) {
                    <mat-error>Name is required</mat-error>
                    }
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <button matButton="filled" type="submit" [disabled]="gameId() && triviaJoinForm.invalid" form="triviaJoinForm">Join Game</button>
        </mat-card-actions>
        }
        @else {
            <mat-card-content>
                <p>There is not a game available yet. Please click here to refresh</p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button matButton="filled" type="button" (click)="refresh()">Refresh Game</button>
            </mat-card-actions>
        }
    </mat-card>
</div>

<mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/">
        <mat-icon>exit_to_app</mat-icon>
        <span>Leave Game</span>
    </a>
</mat-menu>